#Librerias para el funcionamineto del backend
fastapi
uvicorn 
python-dotenv
pydantic
httpx

#Librerias para el manejo de archivos
python-docx
docxtpl
docxcompose

PyPDF2
PyMuPDF
pypandoc
python-multipart # lee y decodifica los archivos enviados





#OPCIONALES O PENDIENTES:
#almacenamiento
#SQLAlchemy
#databases
#psycopg2-binary
#langchain
#python-magic
#docker

